.app-card {
    border: 0.5px solid hsl(0, 0%, 90%);
    border-radius: 4px;
    padding: 16px;
    margin-right: 8px;
}
.app-card > p {
    overflow: ellipsis;
}

.app-card .details {
    font-size: 12px;
}
.app-card time {
    color: hsl(0, 0%, 50%);
}
.app-card time::before {
    content: " · "
}
.app-card a {
    color: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 145px;
    height: 180px;
}
