.overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.overview p {
    font-size: 12px;
    color: hsl(0, 0%, 50%);
}
.overview > a {
    color: hsl(0, 0%, 50%);
}
